@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Centive';
  src: url('/centive/Centive.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-background text-zinc-900 font-sans tracking-tight;
  }
}
